*{
    padding: 0 40px;
    margin: 0;
}

.navbar {
    background-color: #ffff;
    display: flex;
    padding: 40px 10px;
    border: 2px solid var(--global-palette-btn-bg, #3633E1);
}

.left-content {
    display: flex;
}

.left-content span {
    padding: 20px 50px;
}

.hero-image img {
    border-radius: 50%;
    filter: grayscale(1);
}

.navbar .left-content {
    background-color: red;
}

.feature-images {
    display: flex;
    background-color: black;
    border-radius: 20px;
    /* background-image: url('./images/photo.png'); */
}

.feature-images img {
    max-width: 100%;
    border: 0 solid currentColor;
    box-sizing: border-box;
    width: 25%;
    height: 80px;
    padding: 20px;
}

.software-dev {
    height: 100%;
    width: 33%;
    border-radius: 10px;
    padding: 20px;
    border: 5px solid rgba(0,0,0,0);
    background-color: blanchedalmond;
}

.card-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}

.card-btn button {
    background-color: aliceblue;
}

.container {
    display: flex;
    padding: 20px;
}

ul.software-list {
    list-style-type: circle;
}

ol.pt-list {
    list-style: lower-latin inside url('./images/Asante_logo.png');
}

@media screen and (max-width: 1000px) {
    img {
        filter: grayscale(1);
    }
}


.contact {
    background-color: rgb(243, 222, 222)
}

.form input {
    padding: 10px;
    margin: 10px;
}

.form button {
    padding: 10px;
    background-color: red;
    color: white;
    align-items: center;
}